.gal-all {
	box-sizing: border-box;
	&::before, &::after {
	  box-sizing: border-box;
	}
	.body{
	font-family: $gallery-font;
	font-size: 1.125rem;
	line-height: 1.5;
	color: $gray;
	background: $white;
	text-rendering: optimizeLegibility;
	}
}

.gallery {
	padding: 0 0 4rem 0;
  }
  