@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

// font-styles
$title-font: 'Poppins', sans-serif;
$subtitle-font: 'Roboto', sans-serif;

// font-sizes
$xsmall-font: 20px;
$small-font: 24px;
$medium-font: 32px;
$large-font: 40px;
$xlarge-font: 44px;